<!-- Buscador -->
<div class="row align-items-center text-center bg">
    <div class="col-md-5 col-sm-12 offset-sm-4">
      <h2 class="text-center mb-5">¿A quién querés llamar?</h2>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Comience a escribir un nombre, apellido, oficina o piso..." [(ngModel)]="cadenaBuscar" (keyup)="onKeyPress()">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <div class="form-check form-check-inline mt-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="criterioBusqueda" value="nombre">
        <label class="form-check-label" for="inlineRadio1">Nombre y apellido</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="criterioBusqueda" value="oficina">
        <label class="form-check-label" for="inlineRadio2">Oficina</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [(ngModel)]="criterioBusqueda" value="piso">
        <label class="form-check-label" for="inlineRadio3">Piso</label>
      </div>
    </div>
  </div>

<!-- Tarjetas -->
<div class="container">
  <div class="row justify-content-center mt-3">

    <div class="col-12 text-right">
        <span class="badge badge-primary mr-1">Paginado</span> <a href="#" (click)="cantPagPrincipal = 10">10</a>, <a href="#" (click)="cantPagPrincipal = 15">15</a>, <a href="#" (click)="cantPagPrincipal = 20">20</a>, <a href="#" (click)="cantPagPrincipal = 30">30</a>, <a href="#" (click)="cantPagPrincipal = 50">50</a>
    </div>

    <div class="col-12 text-center mt-5" *ngIf="arrInternos.length == 0">
      <i class="fas fa-spinner fa-spin fa-3x"></i>
      <p class="text-muted">Cargando...</p>
    </div>

    <div class="card" *ngFor="let int of arrAuxiliar | paginate: { itemsPerPage: cantPagPrincipal, currentPage: p }">
      <div class="card-body">
        <h5 class="card-title">{{int.apellidoInt +' '+ int.nombreInt}}</h5>
        <h6 class="card-subtitle mb-4 text-muted">{{int.nombreOf}}</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> {{int.pisoOf}}
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> {{int.numeroInt}}</p>
        <p>
          <i class="fas fa-phone"></i> {{int.telefonoOf}}</p>
      </div>
        
      </div>
      <div class="col-12 mt-5">
        <pagination-controls 
  class="my-pagination"
  (pageChange)="p = $event" 
  previousLabel="Anterior" 
  nextLabel="Siguiente"
  autoHide="true"
  ></pagination-controls>
      </div>
    </div>

  

 
    
