a{
    color: #259afa;
    text-decoration:#259afa; 
    margin-right: 300px;
    margin-top: 5px;
    }

a:hover
{
    color: rgb(247, 7, 7);
}

.nav-link:hover{
    font-size: 1.1rem;
}

.dropdown-item:hover
{
    color: #000;
}
.nav-link{
    color: rgb(249, 251, 252) !important;
             
}
