.bg{
    height: 370px;
    background: url('/assets/img/rectorado_cortado.jpg') no-repeat ;
    background-size: 100% 100%;
    margin: 0;
}   

h2, .form-check-label{
    color: #fff;
}

.container{
    max-width: 1300px;
}

.card{
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
    background: #fdfbfb;
    width: 15rem;
    -webkit-box-shadow: 1px 0px 4px 1px rgba(222,219,222,1);
    -moz-box-shadow: 1px 0px 4px 1px rgba(222,219,222,1);
    box-shadow: 1px 0px 4px 1px rgba(222,219,222,1);
}