<div class="container">
  <div class="row mt-3">
    <div class="card " style="width: 15rem; background: #fdfbfb">
      <div class="card-body">
        <h5 class="card-title">Mariano Wilson</h5>
        <h6 class="card-subtitle mb-4 text-muted">Tesorería</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> 1ro
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> 155</p>
        <p>
          <i class="fas fa-phone"></i> 42932851</p>
      </div>
    </div>
    <div class="card " style="width: 15rem; background: #fdfbfb">
      <div class="card-body">
        <h5 class="card-title">Mariano Wilson</h5>
        <h6 class="card-subtitle mb-4 text-muted">Tesorería</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> 1ro
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> 155</p>
        <p>
          <i class="fas fa-phone"></i> 42932851</p>
      </div>
    </div>
    <div class="card " style="width: 15rem; background: #fdfbfb">
      <div class="card-body">
        <h5 class="card-title">Mariano Wilson</h5>
        <h6 class="card-subtitle mb-4 text-muted">Tesorería</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> 1ro
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> 155</p>
        <p>
          <i class="fas fa-phone"></i> 42932851</p>
      </div>
    </div>
    <div class="card " style="width: 15rem; background: #fdfbfb">
      <div class="card-body">
        <h5 class="card-title">Mariano Wilson</h5>
        <h6 class="card-subtitle mb-4 text-muted">Tesorería</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> 1ro
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> 155</p>
        <p>
          <i class="fas fa-phone"></i> 42932851</p>
      </div>
    </div>
    <div class="card " style="width: 15rem; background: #fdfbfb">
      <div class="card-body">
        <h5 class="card-title">Mariano Wilson</h5>
        <h6 class="card-subtitle mb-4 text-muted">Tesorería</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> 1ro
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> 155</p>
        <p>
          <i class="fas fa-phone"></i> 42932851</p>
      </div>
    </div>
    <div class="card " style="width: 15rem; background: #fdfbfb">
      <div class="card-body">
        <h5 class="card-title">Mariano Wilson</h5>
        <h6 class="card-subtitle mb-4 text-muted">Tesorería</h6>
        <p class="mb-1 card-subtitle text-muted">
          <i class="fas fa-building"></i> 1ro
        </p>
        <p class="mb-1">
          <i class="fas fa-briefcase"></i> 155</p>
        <p>
          <i class="fas fa-phone"></i> 42932851</p>
      </div>
    </div>
  </div>
</div>