<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Oficinas</h1>
      <hr>
    </div>
  </div>
  <div class="row mb-3 mt-5">
    <div class="col-12 text-right">
      <button class="btn btn-success" data-toggle="modal" data-target="#modalOficina" (click)="oficinaEditar = null">
        <i class="fas fa-plus"></i> Nuevo
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-responsive-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Oficina</th>
            <th scope="col">Piso</th>
            <th scope="col">Directo</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of arrOficinas">
            <td>{{o.idOf}}</td>
            <td>{{o.nombreOf}}</td>
            <td>{{o.pisoOf}}</td>
            <td>{{o.telefonoOf}}</td>
            <td class="text-center">
              <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modalOficina" (click)="oficinaEditar = o">
                <i class="fas fa-edit"></i> Editar
              </button>
            </td>
            <td class="text-center">
                <button class="btn btn-danger btn-sm" (click)="borrar(o)">
                  <i class="fas fa-trash"></i> Borrar
                </button>
              </td>
            <td class="text-center">
              <button class="btn btn-primary btn-sm">
                <i class="fas fa-phone"></i> Internos
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-oficina [oficinaEditar]="oficinaEditar" (onSuccess)="traerOficinas()"></app-modal-oficina>

<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "pacman"
loadingText="Por favor espere..."
></ngx-spinner>